@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  /* le * cible tout le document */
  margin: 0;
  padding: 0;
}

/* GLOBAL */
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: #000000;
  line-height: 1.6;
  overflow-x: hidden;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  color: #255919;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  z-index: 1000;
}

.logo {
  font-size: 43px;
  font-weight: 700;
  line-height: 100%;
}

.nav a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0cap;
  text-decoration: none;
  color: #000000;
  white-space: nowrap; /* pour mettre le texte sur une seule ligne */
} /* code pour la police des liens contactez-nous, accueil etc */

.nav {
  /* code pour créer la box avec nav.a dedans */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2%;
  height: 100px;
  width: 100%;
  margin-right: 5%;
  position: relative;
}

.nav a:hover {
  text-decoration: underline;
}

/* BANNIÈRE */

.banniere {
  background: url(images/banniere_feuilles.jpg) no-repeat bottom;
  background-size: cover;
  height: 802px;
  width: 100%;
  display: flex;
  justify-content: flex-end; /* place le texte à droite */
  align-items: flex-end;     /* place le texte en bas */
  padding: 60px 80px;/* espace depuis le bord bas et droit */
  overflow-x: hidden;        
}

.banniere-text {
  display: flex;
  flex-direction: column;   /* empile h2 au-dessus de h1 */
  align-items: flex-end;
  text-align: right;
  max-width: 100%;
  margin-right: 6%;
}

.banniere-text h2 {
  width: 791px;
  height: 69px;
  top: 660px;
  left: 543px;
  font-weight: 600;
  font-size: 52px;
  margin: 0%;
  line-height: 1.1;
  display: flex;
  justify-content: flex-end;
  color: white;
}

.banniere-text h1 {
  width: 791px;
  height: 69px;
  top: 736px;
  left: 543px;
  font-size: 64px;
  font-weight: 700;
  color: #c8ff00;
}

/* NOTRE ÉQUIPE */
.notre_equipe h2 {
  padding: 10px;
  font-weight: 600;
  font-size: 53px;
  line-height: 100%;
  color: #469b61;
  display: flex;
  justify-content: center;
}

.notre_equipe p {
  font-weight: 500;
  font-size: 29px;
  display: flex;
  justify-content: center;
}

.photo_equipe {
  display: flex;
  justify-content: center;
  gap: 300px;
  padding-top: 20px;
}

.FemmeRouge {
  background-position: 20px;
  width: 300px;
  height: 300px;
  border-radius: 50%; /* 50% pour effet arrondi */
  object-fit: cover;  /* pour mettre à l’échelle l’image sans déformation */
  object-position: top;
}

.homme1,
.homme2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.txt_femme_rouge,
.txt_homme1,
.txt_homme2 {
  color: #868686;
  margin: auto;
  text-align: center;
}

.nom_noir {
  color: #000000 !important; /* forcer la couleur */
}

/* CLIENTS SATISFAITS */
.client {
  background-color: #183a43;
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 350px;
}

.chiffre {
  color: #c8ff00;
  font-weight: 700;
  font-size: 44px;
  line-height: 100%;
}

.txt_client {
  color: #ffffff;
  font-weight: 600;
  font-size: 19px;
  line-height: 100%;
  text-align: center;
}

/* NOS SERVICES */
.txt_services {
  color: #469b61;
  font-weight: 600;
  font-size: 53px;
  text-align: center;
  padding-top: 10px;
}

.fond_icone {
  display: inline-flex;
  background-color: #f4f6f7;
  padding: 100px;
  border-radius: 30px;
}

.icones {
  display: flex;
  justify-content: center;
  gap: 300px;
  font-size: 43px;
  font-weight: 600;
  text-align: center;
}

.icone1,
.icone2 {
  border-radius: 30px;
  width: 207.18px;
  height: 210px;
  top: 2164px;
  left: 951px;
}

/*DERNIERES ACTUALITES*/

.titre_dernieres_actualites {
  display: flex;
  justify-content: center;
  color: #469b61;
  font-weight: 600;
  font-size: 53px;
  padding-top: 20px;
}

.titre_block1,
.titre_block2,
.titre_block3 {
  font-weight: 500;
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.txt_block1,
.txt_block2,
.txt_block3 {
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white

}

.block1,
.block2,
.block3 {
  background-color: #469b61;
  border-radius: 10px;
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 25px;
  padding: 20px;
}

/*CONTACTEZ NOUS*/
.contactez_nous {
  background-color: #183a43;
  margin-top: 30px;
}


.titre_contactez_nous {
  font-weight: 700;
  font-size: 53px;
  display: flex;
  justify-content: center;
  color: #c8ff00;
}

.txt_contact {
  font-weight: 500;
  font-size: 27px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

/*FORMULAIRE*/
.champ{
  background-color: transparent;
  border:none;
  border-bottom: solid #ffffff;
  height: 30px;
  width: 100%;
  
}  

.formulaire {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: flex-start;
  gap: 100px;
  width: 80%;
  margin: auto;
  padding-top: 5%;
}

.colonne1, 
.colonne2 {
  display: flex;
  flex-direction: column;       
  gap: 30px;                    
  flex: 1;                      /* prend la même largeur chacune */
}

.mise_en_page {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
 }

 .ligne_message,
 .ligne_email {
  align-items: flex-start;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
 }

 .champ_mess {
  background-color: transparent;
  border:none;
  border-bottom: solid #ffffff;
  resize: none;
  height: 120px;
  width: 100%;
  }

  .boutton {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    margin-top: 5%;
    padding-bottom: 5%;
  }  
  
  .boutton button {
    font-weight: 500;
    height: 59px;
    width: 187px;
    background-color: #c8ff00;
    border-radius: 30px;
    border: none;
    font-weight: 500;
    font-size: 17px;
  }

  .boutton button:hover {
    background-color: #ffaa00;
    color: #c8ff00;
  }

  .a_propos_de_nous {
  display: flex;
  justify-content: space-between; /* image à gauche, cadre à droite */
  align-items: center;
}

/* === IMAGE === */
.a_propos_de_nous {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 3%;
  flex-wrap: wrap;
  margin: 5%;
  align-items: stretch;
}

.img_team {
  width: 45%;
  height: auto;   
}

.img_team img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

/* === CADRE DROIT === */
.cadre_droit {
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;  /* empile les éléments à la verticale */
  text-align: center;      /* centre le texte*/
  width: 45%;
  height: auto;
  border-radius: 2%;
  padding: 20px;
  
}

/* === TITRE ET TEXTE === */
.titre_cadre {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 30px;
}

.txt_cadre {
  font-weight: 300;
  color: #868686;
  font-size: 18px;
  margin-bottom: 30px;
}

/* === ICONES === */
.conteneur_cadre {
  display: flex;
  justify-content: center;
  gap: 40px; 
}

.conteneur_cadre div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  color: #183a43;
}

.cercle_icone {
  border: #183a43 solid;
  border-radius: 50%;
  padding: 30px;
}

/*===NOTRE GALERIE===*/

.titre_galerie {
  color: #469b61;
  font-weight: 600;
  font-size: 53px;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.txt_galerie {
  color: #000000;
  font-size: 29px;
  font-weight: 500;
  text-align: center;
}

.photos_galerie {
 display: flex;
 justify-content: center;
 margin-top: 5%;
}

.photos_galerie img {
  border-radius: 20px;
}

/*==boutons==*/
.boutons_galerie {
  font-weight: 275;
  font-size: 43px;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  gap: 30%;
  object-fit: cover;
}

.boutons_galerie_G,
.boutons_galerie_D, button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 43px;
  font-weight: 275;
  width: 60px;/*redimentionne le cercle*/
  aspect-ratio: 1;/*redimentionne une image rectangulaire en carré parfait*/
  margin-bottom: 4%;
  }

  .boutons_galerie_G button:hover,
  .boutons_galerie_D button:hover {
    background-color: #000000;
    color: #c8ff00;
    margin-bottom: 5%;
  }

  /*FOOTER PART1*/

  .footer_part1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    background-color: #183a43;
    color: #f4f6f7;
    padding-top: 50px;
    width: 100%;
  }

  .content,
  .informations,
  .services,
  .aide {
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 6%;
  }


.ensemble {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 1%;
}

.ligne_tel,
.ligne_adresse {
  display: flex;
  white-space: nowrap;
  margin-right: 5%;
  gap: 10px;

}

.icone_tel img, 
.icone_GPS img {
  width: 70px;
  display: block;
}

.txt_tel,
.txt_gps {
  display: flex;
  margin: auto;
  flex-direction: column;
}

 /*FOOTER PART2*/

 .footer_part2 {
 background-color: #0c2227;
 color: #ffffff;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 24%;

}

.copyright {
  font-weight: 400;
  font-size: 15px;
  margin-top: 70px;
}

.me_connecter button {
    font-weight: 500;
    height: 40px;
    width: 166px;
    background-color: #c8ff00;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 17px;
    margin-top: 70px;
    margin-bottom: 40px;
  }

  
.me_connecter button:hover {
    background-color: #ffaa00;
    color: #c8ff00;
  }

.icones_reseau {
  display: flex;
  gap: 50px;
  margin-top: 70px;
  margin-bottom: 40px;
}

.icones_reseau div { /* conteneur de chaque icône */
  border: 2px solid #ffffff;
  border-radius: 10%;
  padding: 10px;             
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;               
  height: 40px;
  margin-bottom: 40px;
}

.icones_reseau img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}


                          /*****************************************___CONNEXION___***************************************************/
/*PAGE2 CONNEXION*/

.titre_connexion {
  color: #469b61;
  font-weight: 600;
  font-size: 53px;
  margin-top: 130px;
  display: flex;
  justify-content: center;
  }
  
  .txt_connexion {
    font-weight: 500;
    font-size: 29px;
    display: flex;
    justify-content: center;
  }

  .formulaire_log {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 15%;
  }

  #champ_email_log,
  #mot_de_pass {
    width: 655px;
    height: 66px;
    font-size: 20px;
    font-weight: 500;
    color: #868686;
    border-radius: 10px;
    padding-left: 30px;
    border: #868686 solid 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0,0.25);
  }

  #champ_email_log {
    margin-bottom: 25px;
  }

  /*Bouton connexion P2*/
  .me_connecter2 {
    display: flex;
    justify-content: center;
  }

  .me_connecter2 button {
    font-weight: 500;
    height: 40px;
    width: 166px;
    background-color: #c8ff00;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 17px;
    margin-top: 70px;
    margin-bottom: 40px;
  }

  
.me_connecter2 button:hover {
    background-color: #ffaa00;
    color: #c8ff00;
  }


.footer_part2_p2 {
 background-color: #0c2227;
 color: #ffffff;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between; /*pousse les icone a droite et le copyright a gauche*/
 gap: 24%;

}

.copyright_p2 {
  font-weight: 400;
  font-size: 15px;
  margin-top: 70px;
  margin-left: 15%;
  
}


.icones_reseau_p2 {
  display: flex;
  gap: 50px;
  margin-top: 70px;
  margin-bottom: 40px;
  margin-right: 15%;
}

.icones_reseau_p2 div { /* conteneur de chaque icône */
  border: 2px solid #ffffff;
  border-radius: 10%;
  padding: 10px;             
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;               
  height: 40px;
  margin-bottom: 40px;
}

.icones_reseau_p2 img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/*______________________________________________________NOS ACTUALITES_______________________________________*/

.titre_actu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20%;
  color: #469b61;
  font-weight: 600;
  font-size: 53px;
  padding-top: 20px;
  margin-top: 5%;
  border-radius: 10px;
}

.sous_titre_actu {
  display:flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 25%;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 5%;
  background-color: #c8ff00;
  border-radius: 10px;
}

.titre_block1_2,
.titre_block2_2,
.titre_block3_2,
.titre_block4_2 {
  font-weight: 500;
  font-size: 30px;
  display: flex;
  justify-content: start;
  color: #ffffff;
  margin-top: 10px;
}

.txt_block1_2,
.txt_block2_2,
.txt_block3_2,
.txt_block4_2 {
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white; 
}

.date_actu {
position: absolute; /*avec absolute je place mon texte exactement la ou je veux dans mon cadre qui lui est relative*/
font-weight: 500;
font-size: 20px;
color: white;
display: flex;
margin-bottom: -1%;
bottom: 60px;
}

.block1_2,
.block2_2,
.block3_2,
.block4_2 {
  position:relative; /* relative dit que mon cadre est la reference et donc, avec absolute je place precisement les element dedans ex:bottom 20px ect*/
  background-color: #469b61;
  border-radius: 10px;
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  padding: 10px;
}


/*___BOUTTONS ACTU__*/

.btn_actualites {
  display: flex;
  gap:1%;
  justify-content: end;
  
}

.btn_modifier button {
    font-weight: 700;
    height: 29px;
    width: 138px;
    background-color: rgba(255, 170, 0,1);
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 17px;
    margin-top: 70px;
    margin-bottom: 40px;
    color: #ffffff;
  }

  .btn_supprimer button {
    font-weight: 700;
    height: 29px;
    width: 138px;
    background-color: rgba(255, 0, 0,1);
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 17px;
    margin-top: 70px;
    margin-bottom: 40px;
    color: #ffffff;
  }

  
.btn_modifier button:hover,
.btn_supprimer button:hover {
    background-color: #ffaa00;
    color: #c8ff00;
  }

/*_______________________________________________________RESPONSIVE___________________________________________*/

@media screen and (max-width: 1000px) {
  

  
 
  .notre_equipe p {
  font-weight: 500;
  font-size: 29px;
  display: flex;
  justify-content: center;
  text-align: center;
}
  .photo_equipe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 300px;
  padding-top: 20px;
}
.client {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.icones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 300px;
  font-size: 43px;
  font-weight: 600;
  text-align: center;
}
.titre_dernieres_actualites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}


}



  








  
 




  






  




  

    
    



 

  
  




  




